@import "../vars/colours";

ul.features-list {
    padding-left: 0;
    list-style: none;


    > li {
        margin-bottom: 1.5em;
        font-size: 14px;

        &:last-child {
            margin-bottom: 0;
        }


        .features-list-icon {

        }

        h3 {
            line-height: 1.2;
            font-size: 1.4em;
            font-weight: 600;
            color: $brand-primary-hover;
        }

        p {

        }
    }

}

