
form.form {

}

.input-group {
    display: block;

    margin-bottom: 1em;
    &:last-of-type {
        //margin-bottom: 0;
    }


    label {
        display: block;
        font-size: 0.9em;
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    input, select, textarea {
        display: block;
        float: none;
        width: 100%;
        box-sizing: border-box;

        padding: 5px 0.5em;

        border: 1px solid #ccc;
        border-radius: 2px;
    }

    .feedback {
        display: none;
        font-size: 0.8em;
    }


    &.has-error {
        .feedback {
            display: block;
        }
        label, .feedback {
            color: #d32f2f;
        }
        input, select, textarea {
            border-color: #d32f2f;
            background: #ffebee;
        }
    }
}

