
blockquote {
    border-left: 4px solid #2196f3;
    padding-left: 2em;

    font-size: 1.1em;
    line-height: 1.6;

    footer {
        margin-top: 1em;

        font-style: normal;
        font-weight: bold;
        font-size: 0.9em;
        color: #111;
    }
}