div {
	word-wrap: break-word;
}
div .main {
	overflow: hidden;
}
img {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(...);
	behavior: url("iepngfix.htc");
}
#topmenu {
	width: 1090px;
	margin-right: -20px;
}
.side img {
	width: 100%;
}
ul.tabbedList.secondary {
	rem display: none;
	position: relative;
	left: -1px;
	width: 0px;
	margin-left: -22px;
	
}
ul.tabbedList.secondary li {
	display: block;
	margin-top: 0px;
	margin-bottom: 4px;
}
ul.tabbedList.secondary li:first-child {
	margin-top: 4px;
}