{#
/**
 * @file page_scrape.html.twig
 * Default theme implementation to present Page scrape data.
 *
 * This template is used when viewing Page scrape pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_page_scrape()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('page_scrape') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
